:root {

    /* Brand colors */
    --primary-btn-color: hsl(182, 80%, 25%);
    --success-200: hsl(123, 100%, 87%);
    --success-800: hsl(123, 51%, 24%);
    --error: hsl(0, 90%, 64%);
    --warning: hsl(43, 75%, 62%);

    /* Neutral shades */
    --text-color: hsl(0, 0%, 20%);
    --placeholder-color: #a29d9d;


    --white: hsl(0, 0%, 100%);
    --background-color-white-100: hsl(0, 0%, 96%);

    --background-color-100: hsl(180, 33%, 96%);
    --background-color-200: hsl(180, 33%, 93%);
    --background-color-300: hsl(182, 41%, 72%);
    --background-color-400: hsl(183, 41%, 69%);

    --todo-background-color: hsl(180, 33%, 94%);


}