/* @import url('./colors.css'); */

.login-page,
.signup-page {
    text-align: center;
}

.login,
.signup {
    padding-inline: 2.4rem;
    padding-block-start: 4.4rem;
    border-radius: 20px;
    position: relative;
    top: -15px;
    background-color: var(--background-color-100);
}

aside {
    background-color: var(--background-color-300);
    min-height: 28.8rem;
    align-content: center;
    color: var(--white);
}

aside>img {
    max-width: 22.6rem;
    max-height: 8.2rem;
}

.login a,
.login h2,
.signup h2 {
    color: var(--primary-btn-color);
}

label,
p {
    color: var(--text-color);
}

.login h2,
.signup h2 {
    font-weight: 300;
    font-size: 3.6rem;
    margin-block-end: 3.6rem;
}

.form {
    text-align: start;
    margin-block-end: 6rem;
}

label {
    margin-block: 1.6rem 0.4rem;
    display: block;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #C6C6C6;
    color: var(--placeholder-color);
    border-radius: 6px;
    background-color: transparent;
}

button {
    width: 100%;
    color: var(--white);
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-btn-color);
    margin-block-start: 3.2rem;
}