/* @import url('./colors.css'); */

.login-page,
.signup-page {
    text-align: center;
}


aside {
    background-color: var(--background-color-300);
    color: var(--white);
    min-height: 28.8rem;
    align-content: center;
    /*Vertically*/
}

aside>img {
    max-width: 22.6rem;
    max-height: 8.2rem;
}

.form-container {
    background-color: var(--background-color-white-100);
    padding-inline: 2.4rem;
    padding-block-start: 4.4rem;
    border-radius: 20px;
    position: relative;
    top: -15px;
}

h2 {
    color: var(--primary-btn-color);
}

h2 {
    font-weight: 300;
    font-size: 3.6rem;
    margin-block-end: 3.6rem;
}

.form {
    text-align: start;
    margin-block-end: 6rem;
}

label {
    display: block;
    margin-block: 1.6rem 0.4rem;
}

input {
    width: 100%;
}

button {
    width: 100%;
    margin-block-start: 3.2rem;
    font-size: 2rem;
}