/* @import url('./colors.css'); */

.login-page,
.signup-page {
    background-color: var(--background-color-200);
    text-align: center;
    height: 100dvh;
}


aside {
    background-color: var(--background-color-300);
    color: var(--white);
    min-height: 28.8rem;
    align-content: center;
}

aside>img {
    max-width: 22.6rem;
    max-height: 8.2rem;
}

.form-container {
    background-color: var(--background-color-white-100);
    padding-inline: 2.4rem;
    padding-block: 4rem;
    border-radius: 20px;
    position: relative;
    top: -15px;
}

h2 {
    color: var(--primary-btn-color);
}

h2 {
    font-weight: 300;
    font-size: 3rem;
    margin-block-end: 2.5rem;
}

.form {
    text-align: start;
    margin-block-end: 3rem;
}

label {
    display: block;
    margin-block: 1rem 0.4rem;
}

input {
    width: 100%;
}

button {
    width: 100%;
    margin-block-start: 3rem;
    font-size: 2rem;
}

@media (min-width: 1200px) {

    .login-page,
    .signup-page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px;
    }

    main {
        display: flex;
        justify-content: center;
        min-height: 540px;
    }

    aside {
        border-radius: 20px 0 0 20px;
        min-width: 350px;
    }

    label {
        font-size: 1.3rem;
    }

    .form-container {
        top: 0;
        right: 20px;
        width: 430px;
    }

    .container-row {
        display: flex;
        column-gap: 1rem;
    }
}