* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../assets/fonts/Alexandria/Alexandria-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../assets/fonts/Alexandria/Alexandria-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../assets/fonts/Alexandria/Alexandria-Bold.ttf');
    font-weight: 700;
}

html {
    font-size: 62.5%;
    font-family: 'Alexandria';
    color: var(--text-color);
}


h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-block-end: 1.8rem;
}


.primary-btn {
    background-color: var(--primary-btn-color);
    color: var(--white);
    border: none;
    border-radius: 6px;
    padding: 1rem;
}

.secondary-btn {
    background-color: var(--white);
    color: var(--primary-btn-color);
    border: 2px solid var(--primary-btn-color);
    border-radius: 6px;
    padding: 1rem;
}

a.text-btn {
    color: var(--primary-btn-color);
    text-decoration: none;
}

input {
    background-color: transparent;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    padding: 1rem;
}

input::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

.input-error {
    border: 1px solid var(--error);
}

.error {
    color: var(--error);
    padding: 4px;
}